<!DOCTYPE html>
<html>
<head>
    <title>[record scratch] [freeze frame]</title>
    <link rel="stylesheet" type="text/css" href="/static/css/app.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- a stupid thing by @mattpointblank -->
</head>
<body>

    <h1>
        <span>[record scratch]</span>
        <span>[freeze frame]</span>
        Yep, that's me. You're probably wondering how I ended up in this situation.
    </h1>

    <p>Click below to begin.</p>

    <aside>
        <button>[freeze frame]</button>
    </aside>

    <ul class="js-tweets">
        <% tweets.forEach(function (t, i) { %>
            <li data-img="<%= t.image %>"<% if (i === 0) { %>
                style="background-image: url(<%= t.image %>);"<% } %>>
                <h3><a href="<%= t.link %>">@<%= t.user %></a></h3>
            </li>
        <% })%>
    </ul>
    <audio>
        <source type="audio/wav" src="/static/scratch.wav">
        <source type="audio/ogg" src="/static/scratch.ogg">
        <source type="audio/mpeg" src="/static/scratch.mp3">
    </audio>

    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script>
        var btn = $('button');
        var audio = $('audio');
        var list = $('.js-tweets li');
        var text = $('h1');
        var curIndex = 0;
        btn.click(function() {
            text.fadeOut('fast');
            list.hide();
            var item = list.eq(curIndex);
            item.show();
            window.setTimeout(function () {
                audio[0].play()
                text.fadeIn('fast');
                item.addClass('anim-zoom');
            }, 500);
            var next = list.eq(curIndex + 1);
            if (next) {
                next.css('background-image', 'url(' + next.data('img') + ')');
            } else {
                $(this).hide();
            }
            curIndex++;
        });
        text.click(function(){
            $(this).fadeOut('fast');
        })
    </script>
</body>
</html>
